.preview-box {
  background-color: #37474F;
  color:azure;
}
mat-card-subtitle {
  color: azure;
}

h1 {
  color: azure;
  font-style: italic;
}

.login {
  text-align: center;
  background-color: darkgrey;
  margin: 10%;
  padding: 10px;
}

div.login {
  display: flex;
  flex-direction: column;
  align-items: flex-start;

}

mat-chip {
  max-width: 35%;
}

.describe {
  font-size: 20px;
  color: azure;
}
