<mat-toolbar>
  <button mat-raised-button color="accent" [matMenuTriggerFor]="menu"><mat-icon>menu</mat-icon></button>
  <mat-menu #menu="matMenu">
    <button mat-menu-item (click)="update()">Update</button>
    <button mat-menu-item routerLink="/">Home</button>
  </mat-menu>
  <span class="spacer"></span>
  <span class="title">HabroReader</span>
</mat-toolbar>
<!-- TODO  <div *ngIf="progress">  <mat-progress-bar mode="buffer" color="accent"></mat-progress-bar>
</div> -->
<div class="container body-content">
  <router-outlet (activate)="onActivate($event)"></router-outlet>
</div>
<div class="footer">
  <h4>bobis1888@gmail.com <br> 2021</h4>
</div>
