<mat-toolbar>
  <button mat-raised-button color="primary" [matMenuTriggerFor]="menu"><mat-icon>menu</mat-icon></button>
  <mat-menu #menu="matMenu">
    <button mat-menu-item routerLink="/">Home</button>
    <button mat-menu-item routerLink="/login">Login</button>
    <button mat-menu-item routerLink="/settings">Settings</button>
    <button mat-menu-item (click)="update()">Update</button>
  </mat-menu>
  <span class="spacer"></span>
  <span class="title">NWSReader</span>
</mat-toolbar>
<div class="container body-content">
  <router-outlet (activate)="onActivate($event)"></router-outlet>
</div>
<div class="footer">
  <h4>bobis1888@gmail.com <br> 2021</h4>
</div>
